<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" >
      <h2>This is a listing of all the quotes</h2>
      <%= render 'quote', obj: @quotes %>
    </div>
  </div>
</div>
