<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div align="center">
        <%= gravatar_for @user,size: 100  %>
        <h3> Welcome to <%= @user.name %> Quote page </h3>
      </div>
      <% if logged_in? && current_user == @user %>
        <div class="well">
          <%= link_to 'New Quote', new_quote_path, class: 'btn btn-success' %>
        </div>
      <% end %>

      <br>
        <%= render 'quotes/quote', obj: @user.quotes %>
    </div>
  </div>
</div>
