<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div align="center">
        <h3> Welcome to <%= @user.name %> Quote page </h3>
      </div>
      <br>
        <%= render 'quotes/quote', obj: @user.quotes %>
    </div>
  </div>
</div>
